/* Vanilla CSS styles for index.html. No CSS frameworks used */


body, div, h1, h2, h3, h4, h5, p, ul, img {
	margin:0px;
	padding:0px; 
}


body {
	font-family: Arial, sans-serif;
	background-color: #fff;
}

.innerbody {
	width: 900px;
	margin: 0 auto;
	border: 1px solid #000;
	background-color: #f4f2e8;
}

/* bg-banner created using MS paint*/
header {
	padding-top: 40px;
	margin-bottom: -18px;
	background-image: url(../images/bg-banner.jpg);
	background-repeat: repeat-x;

}

#mainlogo {
	margin-top: -10px;
}

#mainlogo img, #mainlogo span {
	display: inline-block;
}

#mainlogo span {
	position: absolute;
	margin-top: 40px;
	margin-left: 10px;
	font-size: 30px;
	color: #e4dfdf;
}


#subtitle h4 {
	font-size: 25px;
	color: #e4dfdf;
}

#subtitle {

	padding-left: 120px;
	padding-top: 20px;
}

.cleartag {
	clear: both;
}

/* nav styles*/
nav ul {
	list-style: none;
	overflow: hidden;
	background-color: #c5c6c9;
}

nav li {
	float: left;
}

/* review padding*/
nav li a {
	display: block;
	color: #595a5b;
	text-align: center;
	padding: 20px 20px;
	padding-left: 30px;
	padding-right: 70px;
	font-size: 20px;
	text-decoration: none;
}

main {
	padding-left: 20px;
	color: #455054;
	width: 600px;
	float: left;
}

main h2 {
	font-size: 40px;
	color: #1d728c;
	padding-top: 30px;
}
/*ck */
main h3 {
	padding-top: 25px;
	padding-bottom: 25px;
	font-weight: bold;
	font-size: 1.5em;
}

main p {
	font-size: 15px;
	padding-bottom: 20px;
	padding-top: 20px;
}

main a {
	text-decoration: none;
	color: #1d728c;
	font-weight: bold;
}

aside {
	width: 200px;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
	background-color: #c5c6c9;
	padding: 5px;
	padding-bottom: 15px;
	border: 1px solid #6c6e70;
	text-align: center;
}

aside h3 {
	padding-bottom: 5px;
	color: #036c99;
}


aside ul {
	list-style: none;
	padding-bottom: 15px;

}

aside ul a {
	color: #444040;
}

aside img {
	height: 25px;
	width: 25px;
}

#submit {
	color: #424344;
	text-decoration: none;
	background-color: #b8e56b;
	margin: 10px;
	padding: 5px;
	font-size: 20px;
	margin-bottom: 20px;
}
