/* CSS styles for index.html. No CSS frameworks */

body, div, h1, h2, h3, h4, h5, p, ul, img {
	margin:0px;
	padding:0px; 
}


body {
	font-family: Arial, sans-serif;
	background-color: #f4f2e8;
}

.innerbody {
	width: 900px;
	margin: 0 auto;
}

#mainlogo {
	/* needs image logo*/
}

#mainlogo h1 {
	padding-top: 40px;
}

header {
	padding-top: 40px;
	
}

/* ck need the divs split this too*/
#subtitle h4 {
	font-size: 25px;
	color: #e4dfdf;
}

#subtitle {
	float: left;
	padding-left: 120px;
	padding-top: 20px;
}

.cleartag {
	clear: both;
}

/* nav styles*/
nav ul {
	list-style: none;
	overflow: hidden;
	background-color: #c5c6c9;
}

nav li {
	float: left;
}

/* review padding*/
nav li a {
	display: block;
	color: #595a5b;
	text-align: center;
	padding: 20px 20px;
	padding-left: 30px;
	padding-right: 70px;
	font-size: 20px;
	text-decoration: none;
}

main {
	padding-left: 20px;
	color: #455054;
	width: 600px;
	float: left;
}

main h2 {
	font-size: 40px;
	color: #1d728c;
	padding-top: 30px;
}
/*ck */
main h3 {
	padding-top: 25px;
	padding-bottom: 25px;
}

main p {
	font-size: 15px;
	padding-bottom: 20px;
	padding-top: 20px;
}

main a {
	text-decoration: none;
	color: #1d728c;
	font-weight: bold;
}

aside {
	width: 200px;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
	background-color: #9fa3a8;
	padding-left: 5px;
	border: 1px solid #6c6e70;
}

aside h3 {

}

aside ul {
	list-style: none;
}

aside ul a {

}

#submit {
	color: #424344;
	text-decoration: none;
	background-color: #b8e56b;
	margin: 10px;
	padding: 5px;
	font-size: 20px;
}
